<div class="preload"  ng-show="active == 'preload'">
    <div class="preload-container">
        <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
        </div>
        <h3>Magnetizing Rappers&hellip;</h3>
    </div>
</div>
<div class="main" ng-show="active == 'main'">
    <div ng-show="showAction" class="action-up">
        <a href="#" class="hi-icon fa fa-arrow-up" ng-click="scrollTop();">
        </a>
    </div>
    <div ng-show="showAction" class="action-cart">
        <div class="checkout hi-icon" ng-class="{'checkout--active': isCartOpen}" >
            <a class="checkout__button" href="#" ng-click="openCart();">
                <i class="fa fa-shopping-cart">
                <span class="cart-count animated rubberBand" ng-if="cart > 0">{{cart}}</span>
            </i>
            </a>
            <div class="checkout__order">
                <div class="checkout__order-inner">
                    <div ng-if="cart > 0">
                        <table class="checkout__summary">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>QTY</th>
                                    <th>Price</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="3">Total <span class="checkout__total">${{total}}</span></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="cartItem in $storage.cartItems">
                                    <td>{{cartItem.name}} Magnet</td>
                                    <td>{{cartItem.quantity}}</td>
                                    <td>${{cartItem.price}}</td>
                                    <td>
                                        <button class="checkout__action" ng-click="removeItem($index)"><i class="icon fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="checkout__option checkout__option--silent checkout__cancel" ng-click="closeCart();"><i class="fa fa-angle-left"></i> Continue Shopping</button>
                        <button class="checkout__option" ng-click="checkout();">Checkout</button>
                        <button class="checkout__close checkout__cancel" ng-click="closeCart();"><i class="icon fa fa-fw fa-close"></i>Close</button>
                    </div>
                    <div class="empty-cart" ng-if="cart <= 0">
                        <p>Your shopping cart is empty</p>
                        <button class="checkout__close checkout__cancel" ng-click="closeCart();"><i class="icon fa fa-fw fa-close"></i>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="showAction" class="action-grid">
        <a href="" class="hi-icon fa fa-th" ng-click="grid()"></a>
    </div>
    <div ng-show="showAction" class="action-share">
        <nav class="lkm">
            <a href="" tooltip="Pinterest" class="buttons"><i class="fa fa-pinterest" socialshare socialshare-provider="facebook" socialshare-text="{{socialText}}" socialshare-url="{{dynamicLocation}}"></i></a>
            <a href="" tooltip="Twitter" class="buttons"><i class="fa fa-twitter" socialshare socialshare-provider="twitter" socialshare-text="{{socialText}}" socialshare-url="{{dynamicLocation}}" socialshare-hashtags="RapMagnets"></i></a>
            <a href="" tooltip="Facebook" class="buttons"><i class="fa fa-facebook" socialshare socialshare-provider="pinterest" socialshare-text="{{socialText}}" socialshare-url="{{dynamicLocation}}" socialshare-media=""></i></a>
            <a href=""><i class="fa fa-heart hi-icon-custom"></i></a>
        </nav>
    </div>
    <div id="fullpage">
        <div class="section" id="intro" style="background-color:#171717;">
            <div class="content">
                <img class="logo" src="assets/images/fridge.png " />
                <h1>Rap Magnets</h1>
                <p>Interchangeable rap-inspired refrigerator magnets</p>
                <a href="#" class="hi-icon fa fa-arrow-down bounce animated" ng-click="scrollDown();"></a>
                <div class="scroll-txt">SCROLL DOWN</div>
            </div>
        </div>
        <div class="section {{artist.url}}" id="section" ng-repeat="artist in artists" ng-style="{'background-color': artist.color}">
            <div class="text_container">
                <div class="number">
                    {{digitCheck($index+1)}}
                </div>
                <h1>{{artist.name}}</h1>
                <h2>${{artist.price}}</h2>
                <button progress-button="progressFunction(artist)" ng-if="artist.active">Add To Cart</button>
                <p ng-if="!artist.active" class="sold-out">Currently Sold Out!</p>
                <p>{{artist.descrip}}</p>
                <ul>
                    <li ng-repeat="info in artist.info">{{info}}</li>
                </ul>
            </div>
            <span class="pattern_background"></span>
            <img ng-src="{{artist.image}}" class="image_magnet" ng-if="!artist.cuts"/>
            <div class="image_magnet_container" ng-if="artist.cuts">
                <div class="image-holder">
                    <img ng-src="{{artist.image_cuts.head}}" class="head"/>
                    <img ng-src="{{'/assets/images/' + artist.url + '/torso-upper.png'}}" class="torso-upper" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/torso-lower.png'}}" class="torso-lower" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/arm-left.png'}}" class="arm-left" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/arm-right.png'}}" class="arm-right" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/leg-left.png'}}" class="leg-left" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/leg-right.png'}}" class="leg-right" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/foot-left.png'}}" class="foot-left" />
                    <img ng-src="{{'/assets/images/' + artist.url + '/foot-right.png'}}" class="foot-right" />
                    /assets/images/wiz.png
                </div>
            </div>
        </div>
        <div class="section" id="outro" style="background-color:#FCCEAA;">
            <div class="content">
                <h2>More Magnets<br />Coming Soon!</h2>
            </div>
            <div class="footer">
                <span>Follow Us on Social Media:&nbsp;</span>
                <a href="http://facebook.com/" target="_blank" class="fa fa-facebook-square"></a>
                <a href="http://twitter.com/" target="_blank" class="fa fa-twitter-square"></a>
                <a href="http://pinterest.com/" target="_blank" class="fa fa-pinterest-square"></a>
            </div>
        </div>
    </div>
</div>
<div class="grid" ng-show="active == 'grid'">
    <div class="grid-item intro" style="background-color:#171717;cursor:pointer;" ng-click="gotoMain(-1)">
        <div class="content-info">
            <img class="logo" src="assets/images/fridge.png " />
            <div class="content-text">
                <h3 class="grid-title">Rap Magnets</h3>
                <p class="grid-price">Interchangeable rap-inspired refrigerator magnets</p>
                <a href="" class="hi-icon fa fa-arrow-left" style="position: relative;"></a>
            </div>
        </div>
        <img ng-src="{{artists[0].image}}" class="image-holder" />
    </div>
    <div class="grid-item" ng-repeat="card in artists" ng-style="{'background-color': card.color}" ng-click="gotoMain($index)" ng-show="active == 'grid'">
        <div class="content">
            <div class="content-text">
                <div class="grid-title">{{card.name}}</div>
                <div class="grid-price">{{card.price}}</div>
            </div>
        </div>
        <img ng-src="{{card.image}}" />
    </div>
    <div class="grid-item coming-soon delay-1" style="background-color:#FCCEAA" ng-show="active == 'grid'">
        <div class="content-info">
            <div class="content-text">
                <h3 class="grid-title">More Magnets<br />Coming Soon!</h3>
            </div>
        </div>
        <img ng-src="{{artists[0].image}}" class="image-holder" />
    </div>
</div>
