.grid {
    overflow-y: scroll;
    .grid-item {
        position: relative;
        display: block;
        text-align: center;
        float: left;
        img {
            height: auto;
            width: 80%;
        }
        .content {
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .6);
            transition: opacity .3s ease-in-out;
            -webkit-transition: opacity .3s ease-in-out;
            .content-text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                .grid-title {
                    font-size: 2.375em;
                    color: #FFF;
                    text-align: center;
                    letter-spacing: 0;
                    font-weight: normal;
                    font-family: 'helvetica_neue_lt_27ultraLtCn';
                }
                .grid-price {
                    color: #EEE;
                    font-size: 40px;
                    text-align: center;
                    font-family: 'helvetica_neue_lt_pro47LtCn';
                }
            }
            &:hover {
                opacity: 1;
            }
        }
        &.intro,
        &.coming-soon {
            overflow: hidden;
            img.logo {
                width: 75px;
            }
            .image-holder {
                visibility: hidden;
            }
            .content-info {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                h3 {
                    font: 2.2em 'helvetica_neue_lt_27ultraLtCn';
                    color: #EEE;
                    letter-spacing: 10px;
                    margin: 0;
                    white-space: nowrap;
                    line-height: 40px;
                }
                p {
                    color: #666666;
                    font: 1.0em 'helvetica_neue_lt_pro47LtCn';
                    margin-bottom: 25px;
                    text-transform: capitalize;
                }
            }
        }
        &.coming-soon h3{
            color: #666!important; 
        }
    }
}

.grid-item.ng-hide {
    opacity: 0;
}

.grid-item.ng-hide-remove,
.grid-item.ng-hide-add {
    display: block !important;
}
.grid-item.ng-hide-remove {
    transition: all linear 1000ms;
}

.grid-item.ng-hide-add {
    transition: all linear 1000ms;
}

@media only screen and (min-width: 960px) {
    .grid-item {
        width: 25%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
    .grid-item {
        width: 33.33333333%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
    .grid-item {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}
